.bg {
    border: 2px solid red;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    display: flex;
}
.intro-hi {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
    height: 5em;
    width: 100%;
    margin-right: 20em;
    margin-bottom: 10em;
}
.main-name {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
}